@page {
	size: landscape;
}

body {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	margin: 0px;
}

a {
	color: #66d;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.toolbarMenu {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	z-index: 30;
	-webkit-transition: opacity .5s linear, visibility .5s linear;
	transition: opacity .5s linear, visibility .5s linear;
	background: #000;
	font-size: 14px;
	-moz-box-shadow: 3px 3px 4px #222;
	-webkit-box-shadow: 3px 3px 4px #222;
	box-shadow: 3px 3px 6px #222;
}

.toolbarMenuItem {
	padding: 1px 8px;
	cursor: default;
}

.toolbarMenuItem:HOVER {
	background: #555;
}
.dropMenu {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	z-index: 30;
	border: 2px solid #000;
	padding: 2px;
	-webkit-transition: opacity .5s linear, visibility .5s linear;
	transition: opacity .5s linear, visibility .5s linear;
	background: #fff;
	-moz-box-shadow: 3px 3px 4px #222;
	-webkit-box-shadow: 3px 3px 4px #222;
	box-shadow: 3px 3px 6px #222;
}

.dialog {
	background-color: #fff;
	border: 5px solid #999;
	border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 6px #666;
}

.dialogGlass {
	background-color: #000;
	opacity: 0.6;
}

.panelInvisible {
	position: absolute;
	overflow: visible;
}

.panel {
	position: absolute;
	border: 1px solid #000;
	background-color: #fff;
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 6px #666;
	overflow: visible;	
}

.listItem {
	margin: 2px 5px;
	padding: 3px 5px;
	border-radius: 5px;
}

.canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: visible;
}

.listItem:HOVER {
	background: #ccc;
}

.widgetPanel {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.content {
	margin: auto;
	width: 800px;
}

.toolbar {
	font: 18px/40px mako, sans-serif;
	height: 40px;
	color: #ccc;
	background: #2d2d2d;
	background: -webkit-linear-gradient(top, #2d2d2d, #111);
	border-bottom: 1px solid #84817a;
}

.toolbarItem {
	float: left;
	margin-left: 50px;
	padding: 0 10px;
	cursor: default;
}

.toolbarItemDisabled {
	float: left;
	margin-left: 50px;
	padding: 0 10px;
	cursor: default;
}

.toolbarItem:HOVER {
	background-color: #555;
	color: #FFF;
}

.toolbarLogin {
	float: right;
	margin-right: 50px;
}

.frameWidgetPanel {
	overflow: hidden;
	margin-top: 24px;
	margin-bottom: 6px;
	margin-left: 5px;
	margin-right: 5px;
}

.textitem {
	-webkit-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}

.mapLabel {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	color: white;
	padding: 2px 5px;
	border-bottom: 1px solid black;
}

img {
	-webkit-user-drag: none;
	user-drag: none;
}

.menuItem {
	padding: 1px 8px;
	border-radius: 5px;
	cursor: default;
	border: 1px solid #fff;
}

.menuItem:HOVER {
	background: #cce;
	border: 1px solid #bbc;
}

.insert {
	width: 100%;
	position: relative;
}

.insertInner {
	border: 2px dashed #999;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 5px;
}

.innerPanel {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

.panelleft {
	border-right: 0px;
}

.panelright {
	border-left: 1px dashed #ccc;
}

.panelcenter {
	border-right: 0px;
	border-left: 1px dashed #ccc;
}

.dragFrame {
	position: absolute;
	margin: 1px;
	opacity: 0.6;
	visibility: hidden;
	z-index: 100;
	-moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.glassPanel {
	background: #000;
	opacity: 0.5;
	z-index: 45;
}

.popupPanel {
	border: 1px solid #447;
	border-radius: 5px;
	padding: 3px 5px;
	z-index: 50;
	background-color: #669;
}

.placebookEntry {
	display: inline-block;
	padding: 5px;
	margin: 10px auto;
	width: 120px;
	text-align: center;
	border-radius: 16px;			
}
		
.placebookEntry:HOVER {
	background-color: #667;
}
		
.placebookEntryText {
	margin-left: auto;
	margin-right: auto;
	padding: 0px 7px;
	font-family: mako, sans-serif;
	font-size: 16px;
}