@page { size: landscape; }

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

a {
	color: #66D;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.dialog {
	background-color: #FFF;
	border: 5px solid #999;
	border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 6px #666;	
}

.dialogGlass {
	background-color: #000;
	opacity: 0.6;
}

.panelInvisible {
	position: absolute;
}

.panel {
	position: absolute;
	border: 1px solid #000;
	background-color: #FFF;
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 6px #666;
}

.listItem {
	margin: 2px 5px;
	padding: 3px 5px;
	border-radius: 5px;
}

.canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: visible;
}

.listItem:HOVER {
	background: #CCC;	
}

.widget {
	position: relative;
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 3px;
	z-index: 2;
	overflow: hidden;
	min-height: 15px;
}

.textitem {
	-webkit-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;	
	user-select: text;
	font-size: 12px;
}

.mapLabel {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	color: white;
	padding: 2px 5px;
	border-bottom: 1px solid black;
}

img {
	-webkit-user-drag: none;
	user-drag: none;
}

.menuItem {
	padding: 1px 8px;
	background: #889;
	border: 1px solid #889;
	cursor: default;
}

.menuItem:HOVER {
	background: #99A;
	border: 1px solid #AAB;
}

.panelleft {
	border-right: 0px;
}

.panelright {
	border-left: 1px dashed #CCC;
}

.panelcenter {
	border-right: 0px;
	border-left: 1px dashed #CCC;
}

.dragImage {
	z-index: 20;
	position: absolute;
	cursor: move;
}

.dragShadow {
	-moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.glassPanel {
	background: #000;
	opacity: 0.5;
	z-index: 45;
}

.popupPanel {
	border: 1px solid #447;
	border-radius: 5px;
	padding: 3px 5px;
	z-index: 50;
	background-color: #669;
}