placebooks-webapp/.project
placebooks-androidapp/bin
thumbs.db
.settings
.buildpath
.classpath
.DS_Store
datanucleus.log
*.bak
*.class
build.properties
.project
.gwt
placebooks-webapp/src/personal-placebooks.properties
placebooks-webapp/src/server-placebooks.properties
placebooks-webapp/src/dev-server-placebooks.properties
placebooks-webapp/build
