placebooks-webapp/.project
placebooks-androidapp/bin
thumbs.db
.settings
.buildpath
.DS_Store
datanucleus.log
*.bak
*.class
build.properties
.project
.gwt
placebooks-webapp/src/personal-placebooks.properties
placebooks-webapp/build
