.dialog {
	background-color: #fff;
	border: 5px solid #222;
	border-radius: 10px;
	z-index: 2001;
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 6px #666;	
}

.dialogGlass {
	background: -webkit-radial-gradient(center,rgba(85, 85, 85, 0.5),rgba(0, 0, 0, 0.5));
	z-index: 2000;
}