.canvas {
	position: relative;
	overflow: visible;
}

.page {
	position: relative;
	border: 1px solid #000;
	background-color: #fff;
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 6px #666;
	overflow: visible;
	margin-bottom: 20px;
}

.pageInvisible {
	position: relative;
	background-color: #fff;
	overflow: visible;
	page-break-after: always;	
}