@CHARSET "UTF-8";

body {
	background: url("images/bg2.jpg");
	color: #ECA521;
}

.input {
	border: 4px white solid;
	border-radius: 5em;
	background-color: #515151;
	padding: 0px 5px;
	color: white;
}

.content {
background: transparent url(images/bg1.jpg) repeat scroll top left; width: 700px; 	
}

.navbar {
	font-family: Futura, 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
	font-size: .7em;
	color: #C1C1C1;
	line-height: 25px;
	text-align: center;
	padding: 0px;
	background: rgba(255,255,255,0.2);
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.navbar-bg {
	padding: 6px 0px 4px 0px;
}

.navbar ul {
	list-style: none;
	margin: 0px;
	padding: 0px 10px 0px 10px;
}

.navbar ul li {
	display: inline;
	list-style-type: none;
	margin: 0px;
	padding: 0px 10px 0px 10px;
}

.noncurrent-page  a:visited {
	text-decoration: none;
	color: #C1C1C1;
	text-shadow: 0px -1px 2px #333;
}

.noncurrent-page  a {
	text-decoration: none;
	color: #C1C1C1;
	text-shadow: 0px -1px 2px #333;
}

.noncurrent-page a:hover {
	text-decoration: none;
	color: #EC001E;
	text-shadow: 0px -1px 2px #333;
}

.current-page a {
	text-decoration: none;
	color: #000;
	text-shadow: 0px -1px 2px #7E7E7E;
}

.current-page a:visited {
	text-decoration: none;
	color: #000;
	text-shadow: 0px -1px 2px #7E7E7E;
}