<?xml version="1.0" encoding="UTF-8"?>
<placebook id="1" owner="1">
	
	<date><!-- might need to be timezoned as well - standard MySQL DATETIME -->
	2011-02-28 16:14:17
	</date>
	<geometry> <!-- just points for now, format uses wkt from MySQL GIS -->
	POINT(52.5189367988799 -4.04983520507812)
	</geometry>

	<videoitem id="1" owner="1" order="1">
		<uri>
		http://vimeo.com/2275985
		</uri>
		<geometry>
		POINT(52.5189367988799 -4.04983520507812)
		</geometry>
		<date>
		2011-02-28 16:14:17		
		</date>
		<data>
		test.mp4
		</data>
	</videoitem>

	<audioitem id="2" owner="1" order="2">
		<uri>
		http://vimeo.com/2275985		
		</uri>
		<geometry>
		POINT(52.5189367988799 -4.04983520507812)
		</geometry>
		<date>
		2011-02-28 16:14:17		
		</date>
		<data>
		test.mp3
		</data>
	</audioitem>

	<gpstraceitem id="3" owner="1" order="5">
		<uri>
http://www.everytrail.com/api/trip/tracks?version=3&user_id=260390&trip_id=967173
		</uri>
		<geometry>
		POINT(52.950665120 -1.183738050)		
		</geometry>
		<date>
		2011-02-14 13:31:10
		</date>
		<data>
			<gpx version="1.0" creator="PlaceBooks 1.0" 
				 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
				 xmlns="http://www.topografix.com/GPX/1/1" 
				 xsi:schemaLocation="http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/1/1/gpx.xsd">
			<time>
			2011-02-14T13:31:10.084Z
			</time>
			<bounds minlat="52.950665120" minlon="-1.183738050" 
					maxlat="52.950665120" maxlon="-1.183738050"/>

			<trkseg>
				<trkpt lat="52.950665120" lon="-1.183738050">
				<ele>0.000000</ele>
				<time>
				2011-02-14T13:31:10.084Z
				</time>
				</trkpt>
			</trkseg>
			</gpx>
		</data>
	</gpstraceitem>

	<imageitem id="4" owner="1" order="3">
		<uri>
		http://maps.google.co.uk/?ie=UTF8&ll=52.494905,-4.023399&spn=0.075458,0.207539&z=13
		</uri>
		<geometry>
		POINT(52.5189367988799 -4.04983520507812)		
		</geometry>
		<date>
		2011-02-14 13:31:10
		</date>
		<data>
		test.png
		</data>
	</imateitem>

	<textitem id="5" owner="1" order="4">
		<uri>
		</uri>
		<geometry>
		POINT(52.5189367988799 -4.04983520507812)		
		</geometry>
		<date>
		2011-02-28 16:14:17
		</date>
		<data>
		This is my text item. Blah blah blah.
		</data>
	</textitem>

	<!-- using  wget -E -H -k -K -p http://en.wikipedia.org/wiki/Borth -->
	<webbundleitem id="6" owner="1" order="6">
		<uri>
		http://en.wikipedia.org/wiki/Borth
		</uri>
		<geometry>
		POINT(52.5189367988799 -4.04983520507812)		
		</geometry>
		<date>
		2011-02-28 16:14:17		
		</date>
		<thumbnail>
		webbundleitem.6/thumbnail.jpg
		</thumbnail>
		<htmlroot>
		webbundleitem.6/en.wikipedia.org/wiki/Borth		
		</htmlroot>
	</webbundleitem>

</placebook>
