<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:security="http://www.springframework.org/schema/security" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/security
	   http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
	   
	<bean id="userDetailsService" 
		  class="placebooks.controller.PlaceBooksUserDetailsService" />
	
	<security:authentication-manager>
		<security:authentication-provider user-service-ref='userDetailsService'>
			<security:password-encoder hash="md5"/>		
		</security:authentication-provider>
	</security:authentication-manager>	
	
	<security:http auto-config="true" use-expressions="true">
		<security:form-login login-page="/index.html" always-use-default-target="true" authentication-failure-url="/placebooks/a/shelf" default-target-url="/placebooks/a/shelf" />
		<security:logout logout-success-url="/index.html"  /> 
		<security:intercept-url pattern="/placebooks/a/account" 
							    access="isAuthenticated()" />
		<security:intercept-url pattern="/editor.html" 
							    access="isAuthenticated()" />		
        <security:intercept-url pattern="/**" access="permitAll" />	
        <security:remember-me key="placebooks" />
	</security:http>


</beans>
